@use '@/styles/variables' as *;

.custom-input {
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
    $root: &;

    min-height: 56px;

    padding: 15px;
    border: 1px solid $color-black-40;
    border-radius: 8px;

    color: $color-black-40;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    &--error {
        border-color: $color-salmon;

        #{$root}__icon {
            color: $color-salmon;
        }
    }

    &__icon {
        width: 24px;
        height: 24px;
    }

    input {
        flex-grow: 1;
        padding: 0;
        margin: 0;
        border: none;

        &:hover,
        &:focus-visible {
            outline: none;
        }
    }
}